:root{
  --bg-color: #F1F1F1;
}

.object-fit-cover{
  object-fit: cover;
}

.bg-main{
  background: var(--bg-color);
}

/* 搜尋頁 */

.view-banner{
  background: url('../assets/景點banner.png') center/cover;
}

.search .container{
  padding-top: 70px;
}

/* card */
.card-img-top{
  height: 128px;
}

/* 觀光介紹 */

.view-background{
  background: url('../assets/景點backgrund.png') center/cover;
}

.intro-top .container{
  padding-top: 164px;
}


/* rwd */
@media (min-width: 992px){
  .card-img-top{
    height: 190px;
  }

  .search .container{
    padding-top: 160px;
  }

}